<div class="app-body one">
<!--<div class="card-container"></div>-->
    <%- js('custom/valine.min.js') %>
    <div id="vcomments" class="commentboard"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '<%- page.appId %>',
            appKey: '<%- page.appKey %>',
            avatar: '<%- page.avatar %>',
            enableQQ: true,
            placeholder: '<%- page.prompt %> <% if (page.required == "nick" ) { %>\n\n至少填写昵称，若需显示头像请参考置顶页 <% } %>',
            requiredFields: ['<%= page.required %>'],
        })
    </script>
</div>