<% if (post.sub) { %>
<% } else { %>
    <article class="article-card">
      <h2 class="article-head">
        <a href="<%- url_for(post.path) %>" target="_blank"><%- post.title %></a>
      </h2>
      <p class="article-date">
      <%- date(post.date, "LL") %>
      <% if (typeof(post.author) == "string" ) { %>
        By <img class="small-icon" src="/images/<%- post.author %>.png" alt=""> <%- config.member[post.author] %>
      <% } else if (typeof(post.author) == "object") { %>  By 
        <% for  (name in post.author) { %>
          <img class="small-icon" src="/images/<%- post.author[name] %>.png" alt=""> <%- config.member[post.author[name]] %>
        <% } %>
      <% } %>
      </p>
      <% if (post.tags && post.tags.length) { %>
        <%- partial('_partial/tag', { tags: post.tags }) %>
      <% } %>
      <div class="article-summary">
        <% if (post.main) { %>
          <%- post.main %>
        <% } else if (post.excerpt) { %>
          <%- post.excerpt %>
        <% } else { %>
          <%- truncate((post.content), {length: 200, excludes: '#',decodeEntities: true, byWords: true, omission: '...' }) %>
        <% } %>
      </div>
      <a class="more" href="<%- url_for(post.path) %>" target="_blank"><%- theme.excerpt_link %></a>
    </article>
<% } %>