<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="description" content="<%= config.description || theme.description %>">
  <meta name="keyword" content="<%= config.keyword || theme.keyword %>">
  <% if (config.logo){ %>
  <link rel="shortcut icon" type="image/ico" href="<%= config.favicon %>">
  <% } else { %>
  <%- favicon_tag('css/images/logo.png') %>
  <% } %>
  <title>
    <% if (page.title){ %>
    <%= page.title %> | <%= config.title %>
    <% } else { %>
    <%= config.title %>
    <% } %>
  </title>
  <!-- CSS -->
  <link href="/css/plugins/font-awesome.min.css" rel="stylesheet">
  <link href="/css/plugins/nprogress.min.css" rel="stylesheet">
  <link href="/css/plugins/tomorrow.min.css" rel="stylesheet">
  <%- css(['css/style']) %>

  <!-- JS -->
  <script type="text/javascript" src="/js/jquery.min.js"></script> <!-- version: 3.2.1 -->
  <script type="text/javascript" src="/js/geopattern.min.js"></script> <!-- version: 1.2.3 -->
  <script type="text/javascript" src="/js/nprogress.min.js"></script>  <!-- version: 0.2.0 --> 
  <script async src="/js/busuanzi.js"></script>
  <script type="text/javascript" src="/js/qrious.min.js"></script> <!-- version: 4.0.2 -->
    <!--  <%- js(['js/qrious', 'js/gitment']) %>-->
    <!--  <%- partial('_third-party/mathjax') %>-->
</head>