<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="description" content="<%= config.description || theme.description %>">
  <meta name="keyword" content="<%= config.keyword || theme.keyword %>">
  <% if (config.logo){ %>
  <link rel="shortcut icon" type="image/ico" href="<%= config.favicon %>">
  <% } else { %>
  <%- favicon_tag('css/images/logo.png') %>
  <% } %>
  <title>
    <% if (page.title){ %>
    <%= page.title %> | <%= config.title %>
    <% } else { %>
    <%= config.title %>
    <% } %>
  </title>
  <!-- CSS -->
  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> <!-- Font: Font Awesome v3.2.1 -->
  <link href="https://cdn.bootcdn.net/ajax/libs/nprogress/0.2.0/nprogress.css" rel="stylesheet"> <!-- Progress bar: NProgress v0.2.0 -->
  <!-- <link href="/css/plugins/tomorrow.min.css" rel="stylesheet">  -->
  <%- css(['css/style']) %>

  <!-- JS -->
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- version: 3.2.1 -->
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/geopattern/1.2.3/css/geopattern.min.css"></script> <!-- version: 1.2.3 -->
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/nprogress/0.2.0/nprogress.css"></script>  <!-- version: 0.2.0 --> 
  <script async src="/js/busuanzi.js"></script>
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/qrious/4.0.2/qrious.min.js"></script> <!-- version: 4.0.2 -->
    <!--  <%- js(['js/qrious', 'js/gitment']) %>-->
    <!--  <%- partial('_third-party/mathjax') %>-->
</head>